
.img-container {
    display: flex;
    flex-wrap: wrap;
}

.img-card {
    width: 30%;
    margin: .5em;
    border: 1px solid lightgray;
    border-radius: .2em;
    padding: 5px;
    /* max-width: 100%; */
    cursor: pointer;
}

.form{
    display: block;
}


