
.img-container {
    display: flex;
    flex-wrap: wrap;
}

.img-card {
    width: 23%;
    margin: .5em;
    border: 1px solid lightgray;
    border-radius: .2em;
    padding: 5px;
    /* max-width: 100%; */
    cursor: pointer;
}

.form{
    display: block;
}

@media screen and (max-width: 768px) {

    .img-card {
        width: 28%; 
    }  

}


