
.img-container {
    display: flex;
    flex-wrap: wrap;
}

.img-card {
    width: 23%;
    margin: .5em;
    border: 1px solid lightgray;
    border-radius: .2em;
    padding: 5px;
    /* max-width: 100%; */
    cursor: pointer;
}

.form{
    display: block;
}

.filter-nav {
    background-color: var(--clr1);
    color: white;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-radius: 4px;
    /* width: 80%; */
    /* margin-block: 5px; */
  }

  .filter-nav a {
    font-size: 1em;
    color:var(--clr2);
    text-decoration: none;
    cursor: pointer;
  }
  
  
@media screen and (max-width: 768px) {

    .img-card {
        width: 28%; 
    }  

}


