
.memes{
    background-color: #dfafaf;
    /* display: grid;
    grid-template-columns:  3fr, 1fr; */
    display:flex;
    gap: 10px;
    
}


canvas {
    margin-inline-start: 10px;
    margin-block-start: 10px;
    background-color: white;
    border: 1px solid black;
    padding: 10px;
    width: 90%;
} 

.editor{
    width: 30%;
    /* display: flex;
    flex-direction: column; */

}

  
.publish-btn {
    background: #4267b2;
    border: 1px solid white;
    font-size: 14px;
    color: white;
    cursor: pointer;
    font-family: Helvetica, Arial, sans-serif;
    margin: 5px;
    white-space: nowrap;
    padding: 5px;
    border-radius: 5px;
    text-decoration: none;
  }
/* 
  .btn {
    background-color: DodgerBlue;
    border: 1px solid white;
    color: white;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
  } */

  .icon-btn{
    border: 1px solid white;
    background-color: DodgerBlue;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 4px;
  }

  .icon-img{
    max-width: 22px;
  }