
.memes-container {

    display: flex;
    flex-wrap: wrap;
}


.meme-canvas {
    width: 23%;
    margin: .5em;
    border: 1px solid lightgray;
    border-radius: .2em;
    padding: 5px;
    /* max-width: 100%; */
    cursor: pointer;
}