@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;600&family=Poppins:wght@400;500;600&family=Roboto:wght@400;500&display=swap');

:root {
  /* --border-width: 10px; */
/* 
  --clr6: #cb997e;
  --clr5: #ddbea9;
  --clr4: #ffe8d6;
  --clr3: #b7b7a4; */
  --clr2: #0a9396;
  --clr1: #212427;
}

* {
  box-sizing: border-box;
}

body {
  /* margin: 10px; */
  font-family: 'Poppins', sans-serif;
}

header {
  background-color: var(--clr1);
  color: white;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.logo {
  font-family: 'Figtree', serif;
  font-size: 1.5rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--clr2);
}

nav :not(:last-child) {
  margin-right: 16px;
}

nav a {
  color:var(--clr2);
  text-decoration: none;
  cursor: pointer;
}

.hide{
    display: none;
}

.user-msg {
  position: fixed;
  bottom: 3rem;
  right: 1rem;
  background: #333;
  padding: 0.1rem 2rem;
  border-radius: 0.8em;
  transition: all 0.5s ease-in-out;
  transform: translateX(150%);
  color: #f3f3f3;
}
.user-msg.open {
  transform: translateX(0);
}

button{
  background: var(--clr2);
  border-radius: 4px;
}
